body {
    background-color: #DCE0E3;
    width: 100%;    
    height: 100%;
    display: inline;
}

.header {
    margin-top: 0px;
    height: 86px;
    background-color: white;
}

input {
    width: 100px;
    height: 20px;
    outline: none;
}

.login {
    float: right;
    align-items: right;
    justify-content: right auto;
}
table {
    margin-left: 60px;
    height: 20px;
    width: 80px;
    background-color: #1C2848;
}

#avia {
    width: 140px;
}

th{
    color: #fff;
    font: icon;
    font-weight: ;
}
.footer {
    float: center;
    font: icon;
    position:absolute;
    bottom:0;
    background-color: #1C2848;
    color: #fff;
    width: 100%;
}

.more {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-right: 40px;
    display: inline-flex;
}

p {
    margin: 5px;
}
.aboutUs {
    margin-right: 40px;
    display: inline-flex;
}
.help {
    margin-right: 40px;
    display: inline-flex;
}

h2 {
    color: #ff7b59;
}

.space {
    margin-bottom: 30px;
}