body {
    color: #111236;
    font-family: "Skyscanner Relative",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
}
.findform {
    position: absolute;
    left: 416px;
    padding-right: 60px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-top: 90px;
    top: 280px;
    width: 870px;
    background-color: #02122c;
}
.faq {
    text-decoration: none;
    cursor: pointer;
    font-size: .875rem;
    position: absolute;
    right: 420px;
    top: 20px;
    color: #0770e3;
}
.login {
    text-decoration: none;
    cursor: pointer;
    font-size: .875rem;
    position: absolute;
    background-color: #fff;
    right: 200px;
    top: 15px;
    color: #0770e3;
    padding: .375rem 1.125rem;
    border-radius: .25rem;
    font-weight: 700;
    margin-left: .75rem;
}
.login:hover {
    border-color:#0770e3;
}
.aviasquare {
    background-color: #1C2848;
    color: #fff;
    position: absolute;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 700;
    top: 70px;
    left: 300px;
    padding-right: 14px;
    padding-top: 8px;
    text-decoration: none;
    padding-left: 14px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nokuriene {
    display: inline-block;
    padding: .375rem .75rem;
    border: .0625rem solid #b2b2bf;
    background: #fff;
    width: 210px;
    color: #111236;
    left: 30px;
    top: 65px;
    height: 36px;
    position: absolute;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.aviasquare:active {
    background-color:  #0770e3;
    color: #fff;
    box-shadow: inset 0 0 0 1px #0770e3;
}
.aviasquare:hover {
    background-color: #0770e3;
    color: #fff;
    box-shadow: inset 0 0 0 1px #0770e3;
}
.aviabutton {
    margin-left: .375rem;
}
.logo {
    position: absolute;
    left: 300px;
    top: 20px;
}
.foto {
    min-height: 530px;
    width: 100%;
    position: absolute;
    right: 0.5px;
    margin-top: 98px;
    margin: 30;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
}
.nadpis1 {
    color: #fff;
    font-size: 3.2rem!important;
    top: 40px;
    left: 425px;
    position: absolute;
    line-height: 1.3!important;
}
.map {
    max-width: 65.5rem;
    position: absolute;
    top: 740px;
    width: 1048px;
    left: 406px;
    height: 354px;
    border-radius: 0.75rem;
    background-color: #f1f2f8;
    box-shadow: 0 1px 3px 0 rgb(37 32 31 / 30%);
}
.maph3 {
    font-size: 1.875rem;
    line-height: 0.2rem;
    position: initial;
    margin-left: 35px;
    margin-top: 60px;
}
.maph4 {
    font-size: 1.875rem;
    margin-left: 35px;
}
.mapicon {
    width: 509px;
    height: 350px;
    position: absolute;
    bottom: 5px;
    left: 520px;
}
.legend {
    position: absolute;
    background-color: #f1f2f8;
    right: 0;
    top: 0;
    margin: 1.875rem 1.875rem 1.875rem 0;
    padding: .75rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.legendtravel {
    list-style: none;
    padding: 0;
    margin: 0;
}
.legendh4 {
    font-weight: 700;
    font-size: .75rem;
    line-height: 0.2rem;
    padding-right: 50px;
}
.legendh41 {
    font-weight: 700;
    font-size: .75rem;
    line-height: 0.2rem;
    margin-bottom: 1.25rem;
    padding-right: 50px;
}
.legendcircles {
    display: inline-block;
    width: .75rem;
    height: .75rem;
    margin-right: .75rem;
    border-radius: 50%;
    vertical-align: middle;
}
.greencolor {
    background-color: #00a698;
}
.yellowcolor {
    background-color: #ff9400;
}
.redcolor {
    background-color: #d1435b;
}
.greycolor {
    background-color: #b2b2bf;
}
.legendspantext {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
}
.legendtext {
    margin-bottom: .75rem;
    line-height: 1rem;
}
.maxptext {
    max-width: 25rem;
    margin-left: 36px;  
}
.ptext {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 400;
}

.footer {
    top: 2000px;
    float: center;
    font: icon;
    right: 0.5px;
    position: absolute;
    background-color: #1C2848;
    color: #fff;
    width: 100%;
}

.more {
    margin-left: 430px;
    margin-right: auto;
    justify-content: center;
    margin-right: 250px;
    display: inline-flex;
}

p {
    margin: 5px;
}
.aboutUs {
    margin-right: 250px;
    display: inline-flex;
}
.help {
    margin-right: 250px;
    display: inline-flex;
}

h2 {
    color: #ff7b59;
}

.space {
    margin-bottom: 30px;
}
.switchbutton {
    width: 50px;
    height: 50px;
    top: 65px;
    position: absolute;
    left: 265px;
    padding: 0;
    border: .0625rem solid #b2b2bf;
    border-right: 0;
    border-radius: 0;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}
.wheretogo {
    display: inline-block;
    padding: .375rem .75rem;
    border: .0625rem solid #b2b2bf;
    background: #fff;
    width: 200px;
    color: #111236;
    left: 315px;
    top: 65px;
    height: 36px;
    position: absolute;
}
.datepick {
    display: inline-block;
    padding: .375rem .75rem;
    border: .0625rem solid #b2b2bf;
    background: #fff;
    width: 130px;
    color: #111236;
    left: 540px;
    top: 65px;
    height: 50px;
    position: absolute;
}
.backpick {
    display: inline-block;
    padding: .375rem .75rem;
    border: .0625rem solid #b2b2bf;
    background: #fff;
    width: 130px;
    color: #111236;
    left: 669px;
    top: 65px;
    height: 50px;
    position: absolute;
}
.middlebackground {
    position: absolute;
    width: 100%;
    right: 0.5px;
    top: 1270px;
    height: 500px;
    background-color: #f1f2f8;
}
.photo3 {
    top: 50px;
    width: 250px;
    position: absolute;
    right: 300px;
}
.photo4 {
    top: 50px;
    width: 250px;
    position: absolute;
    right: 850px;
}
.photo5 {
    top: 50px;
    width: 200px;
    position: absolute;
    left: 300px;
}
.text3 {
    top: 315px;
    position: absolute;
    right: 320px;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 700;
}
.text4 {
    text-align: center;
    font-size: 1rem;
    line-height: 1.25rem;
    max-width: 250px;
    top: 360px;
    position: absolute;
    right: 290px;
    font-weight: 400;
}