body {
    background-color: #DCE0E3;
    width: 100%;    
    height: 100%;
    display: inline;
    font-family: "Skyscanner Relative",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
}

input {
    width: 100px;
    height: 20px;
    outline: none;
}

.tabli4ka {
    margin-left: 60px;
    height: 20px;
    width: 80px;
    background-color: #1a2647;
}

#avia {
    width: 140px;
}

th{
    color: #fff;
    font: icon;
}

.space {
    margin-bottom: 30px;
}

.menu {
    width: 73.75%;
    height: 60px;
    background-color: #1C2848;
    margin-left: 300px;
    margin-top: 86px;
}

.flightArea {
    position: absolute;
    margin-top: 13px;
    color: #fff;
    font: icon;
    margin-left: 80px;
}

.ticketForm {
    position: absolute;
    vertical-align: -webkit-baseline-middle ;
    margin-left: 80px;
    margin-top: 27px;
    color: #fff;
    font-size: 14px;
}

.line {
    border-bottom: 1px solid #9A9A9A;
    margin-left: 305px;
    width: 73.2%;
    margin-top: 20px;
}
.order {
    margin-left: 310px;
    margin-top: 40px;
    width: 72.8%;
    height: 60px;
    background-color: #FFFFFF;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}

.order2 {
    margin-top: 18px;
}

#avstrija {
    margin: 10px;
    margin-left: 20px;
}

.moreBtn {
    position: absolute;
    top: 15px;
    left: 1330px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 2px solid gray;
    
}

.moreBtn:after {
    position: absolute;
    top: 7px;;
    left: 8px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 3px solid blue;
    border-bottom: 3px solid blue;
    transform: rotate(-45deg);
}

.moreBtn:hover{
    transform: rotate(180deg);
}

#popUpInfo {
    position: absolute;
    display: none;
    background-color: #fff;
    height: 200px;
    width: 1385px;
    margin-top: 0px ;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.venasPhoto {
    margin-top: -5px;
    margin-left: 20px;
    border-radius: 10px;
    position: absolute;
}

.informaacija {
    position: absolute;
    margin-left: 100px;
}

.name {
    position: absolute;
    margin-left:240px;
    margin-top: -5px;
    font-weight: 500;
    font-size:24px;
}

.quantityOfTransfers {
    position: absolute;
    margin-left:240px;
    margin-top:24px;
    font-weight: lighter;
    color: #61C28E;
    font-size: 20px;
}

.price {
    position: absolute;
    margin-left:1200px;
    margin-top:45px;

    font-size: 18px;
}  

.guide {
    position: absolute;
    margin-left:1125px;
    margin-top:75px;

    text-decoration: none;
    font-size: 18px
}  

.reservation {
    position: absolute;
    margin-left:1050px;
    margin-top:130px;

    text-decoration: none;
    font-size: 18px
}

.buyBtn {
    position: absolute;
    margin-left:1200px;
    margin-bottom:-100px;
    margin-top:120px;

    border:none;
    background-color: #4B9C7F;
    color: white;
    width: 160px;
    height: 35px;
    border-radius: 4px;
    font-size: 20px;
}

.line1 {
    position: absolute;
    border-bottom: 1px solid #9A9A9A;
    margin-left: 17.25%;
    width: 81%;
    margin-top: 70px;
}

.line2 {
    position: absolute;
    border-bottom: 1px solid #9A9A9A;
    margin-left: 17.25%;
    width: 81%;
    margin-top: 105px;
}

a {
    text-decoration: none;
    color: #0770e3;
}
.infoBilete {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01px;
    text-transform: uppercase;
    color: #000000;
  }

  .fons {
    position: absolute;
    left: 9.79%;
    right: 9.86%;
    top: 17.27%;
    bottom: 64.43%;
    width: 1300px;
    height: 166.64px;
    background: #ffffff;
    border-radius: 10px;
  }

  .reisaNumurs {
    position: absolute;
    left: 2.42%;
    right: 89.37%;
    top: 7.59%;
    bottom: 81.01%;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01px;
    color: #898181;
  }
  #ilgums {
    position: absolute;
    left: 42.39%;
    right: 48.92%;
    top: 74.44%;
    bottom: 17.76%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  #atiesanasLaiks {
    position: absolute;
    left: 24.96%;
    right: 70.76%;
    top: 26.32%;
    bottom: 51.48%;
  }

  #ielidosanasLaiks {
    position: absolute;
    left: 65.6%;
    right: 30.45%;
    top: 30.52%;
    bottom: 55.08%;
  }

  .miniVirsraksts {
    position: absolute;
    left: 3.75%;
    right: 84.26%;
    top: 12.07%;
    bottom: 83.17%;
    font-weight: normal;
    font-size: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  #vards1 {
    position: absolute;
    left: 3.46%;
    right: 92.9%;
    top: 28.21%;
    bottom: 66.76%;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  #vards {
    position: absolute;
    left: 3.46%;
    right: 72.29%;
    top: 35.75%;
    bottom: 53.07%;
    width: 373.33px;
    height: 42.19px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
  }
  
  #uzvards1 {
    position: absolute;
    left: 3.46%;
    right: 91.26%;
    top: 58.1%;
    bottom: 36.87%;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  #uzvards {
    position: absolute;
    left: 3.46%;
    right: 72.29%;
    top: 66.2%;
    bottom: 22.63%;
    width: 373.33px;
    height: 42.19px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
  }
  
  #vecums1 {
    position: absolute;
    left: 32.21%;
    top: 28.21%;
    bottom: 66.76%;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  #vecums {
    position: absolute;
    left: 32.21%;
    right: 61.3%;
    top: 35.75%;
    bottom: 53.07%;
    width: 373.33px;
    height: 42.19px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
  }
  
  #dzimums1 {
    position: absolute;
    left: 32.21%;
    right: 61.3%;
    top: 58.1%;
    bottom: 36.87%;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  #dzimums {
    position: absolute;
    left: 32.21%;
    right: 43.55%;
    top: 66.2%;
    bottom: 22.63%;
    width: 373.33px;
    height: 42.19px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
  }
  
  #tautiba1 {
    position: absolute;
    left: 60.26%;
    right: 33.77%;
    top: 28.21%;
    bottom: 66.76%;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  #tautiba {
    position: absolute;
    left: 60.26%;
    right: 15.5%;
    top: 35.2%;
    bottom: 53.63%;
    width: 373.33px;
    height: 42.19px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
  }
  .pasazieris {
    position: absolute;
    left: 9.93%;
    right: 9.86%;
    top: 41.6%;
    bottom: 16.92%;
    width: 1300px;
    height: 377.58px;
    background: #ffffff;
    border-radius: 10px;
  }