<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style1.css">
    <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
    <title>Document</title>
</head>
<body>
    <div>
        <input type="text" id="elastic">
    </div>
    <div>
        <ul class="elastic">
            <li><a href="#" class="countries">Латвия (LV)</a></li>
            <li><a href="#" class="countries">Испания(S)</a></li>
            <li><a href="#" class="countries">США(US)</a></li>
            <li><a href="#" class="countries">Нидерланды(NL)</a></li>
            <li><a href="#" class="countries">Норвегия(NO)</a></li>
            <li><a href="#" class="countries">Румыния(RO)</a></li>    
            <li><a href="#" class="countries">Россия(RU)</a></li>
        </ul>
    </div>
    <script src="static/js/javascripttest.js"></script>
</body>
</html>